

body {
  height: 100%;
  background-color: #222222;
  color: rgb(210, 210, 210);
  font-family: "Roboto", sans-serif;
  background-image: url("assets/wave.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.8em;
}

input:focus {
  outline: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textholder {
  height: 8em;
  width: 36em;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  color: white;
}

button {
  font-size: 1em;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 5em;
  height: 1.5em;
  cursor: pointer;
  background: rgba(19, 19, 19, 0.279);
  border: 1px solid #300129;
  outline: none;
  transition: 0.75s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.75s ease-in-out;
}

.btn:hover {
  transition: 0.75s ease-in-out;
  background: rgb(80, 0, 206);
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: rgba(236, 236, 236, 0.882);
  font-size: 0.7em;
  font-weight: 700;
  text-align: center;
}

h1 {
  color: rgb(34, 34, 34);
}

@media screen and (max-width: 1200px) {

  h1 {
    font-size: 1.6em;
  }
  .textholder {
    height: 6.5em;
    width: 32em;
    font-size: 0.85em;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2);
    color: white;
  }
  .btn {
    width: 4.25em;
    height: 1.25em;
  }
  .btn span {
    font-size: 0.6em;
  }
}

@media screen and (max-width: 1024px) {

  h1 {
    font-size: 1.5em;
  }

  .textholder {
    height: 6em;
    width: 24em;
    font-size: 0.8em;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2);
    color: white;
  }
  .btn {
    width: 3.8em;
    height: 1.3em;
  }

  .btn span {
    font-size: 0.55em;
  }

}

@media screen and (max-width: 768px) {

  h1 {
    font-size: 1.3em;
  }

  .textholder {
    height: 5em;
    width: 22em;
    font-size: 0.7em;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2);
    color: white;
  }
  .btn {
    width: 3.2em;
    height: 1.25em;
  }

  .btn span {
    font-size: 0.45em;
  }

}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.25em;
  }

  .textholder {
    height: 4em;
    width: 18em;
    font-size: 0.65em;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2);
    color: white;
  }
  .btn {
    width: 3em;
    height: 1.15em;
  }

  .btn span {
    font-size: 0.4em;
  }

}
